### install library

There are two library for using pandas
- pip install pandas
- pip install numpy

### import library

In [1]:
import numpy as np
import pandas as pd

### Create a Series

In [2]:
# object creation
s=pd.Series([1,2,3,4,5,6,np.nan])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

#### Series_Data_range

In [3]:
date=pd.date_range("20240722",periods=6)
date

DatetimeIndex(['2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25',
               '2024-07-26', '2024-07-27'],
              dtype='datetime64[ns]', freq='D')

#### Dataframe_Date

In [4]:
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list("ABCD"))
df

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-24 -0.299926  1.491381  0.769090 -0.038032
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548
2024-07-27  0.340274  0.330263  0.190045  0.786122

#### Dataframe_Dictionary

In [5]:
df2=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20240720"),
        "C":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":pd.array([2]*4,dtype="int32"),
        "E":pd.Categorical(["Male","Female","Male","Female"]),
        "F":"Gender"
    }
)
df2

     A          B    C  D       E       F
0  1.0 2024-07-20  1.0  2    Male  Gender
1  1.0 2024-07-20  1.0  2  Female  Gender
2  1.0 2024-07-20  1.0  2    Male  Gender
3  1.0 2024-07-20  1.0  2  Female  Gender

#### Check type

In [6]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

#### Check first 5 row

In [7]:
df.head()

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-24 -0.299926  1.491381  0.769090 -0.038032
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548

#### Check last 5 row

In [8]:
df.tail()

                   A         B         C         D
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-24 -0.299926  1.491381  0.769090 -0.038032
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548
2024-07-27  0.340274  0.330263  0.190045  0.786122

#### Index_number

In [9]:
df.index

DatetimeIndex(['2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25',
               '2024-07-26', '2024-07-27'],
              dtype='datetime64[ns]', freq='D')

#### Convert_to_Numpy

In [10]:
df.to_numpy()

array([[ 1.21059731, -1.30815901, -0.23774003,  0.65369613],
       [ 0.90146423,  0.45808833,  0.61630264, -0.06505383],
       [-0.29992556,  1.49138085,  0.7690905 , -0.03803185],
       [-0.0673733 ,  1.36154068,  0.55185086,  0.85248045],
       [-0.69673376, -1.30318196,  2.05771634, -0.06554786],
       [ 0.34027448,  0.3302632 ,  0.19004548,  0.78612202]])

#### Cont_df2_numpy

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2024-07-20 00:00:00'), 1.0, 2, 'Male', 'Gender'],
       [1.0, Timestamp('2024-07-20 00:00:00'), 1.0, 2, 'Female',
        'Gender'],
       [1.0, Timestamp('2024-07-20 00:00:00'), 1.0, 2, 'Male', 'Gender'],
       [1.0, Timestamp('2024-07-20 00:00:00'), 1.0, 2, 'Female',
        'Gender']], dtype=object)

#### Find_mean,etc

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.231384  0.171655  0.657878  0.353944
std    0.728378  1.235289  0.775356  0.453948
min   -0.696734 -1.308159 -0.237740 -0.065548
25%   -0.241787 -0.894821  0.280497 -0.058298
50%    0.136451  0.394176  0.584077  0.307832
75%    0.761167  1.135678  0.730894  0.753016
max    1.210597  1.491381  2.057716  0.852480

#### convert_colum_to_row

In [13]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2024-07-20 00:00:00,2024-07-20 00:00:00,2024-07-20 00:00:00,2024-07-20 00:00:00
C,1.0,1.0,1.0,1.0
D,2,2,2,2
E,Male,Female,Male,Female
F,Gender,Gender,Gender,Gender

#### asceding/deaceding

In [14]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2024-07-27  0.340274  0.330263  0.190045  0.786122
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-24 -0.299926  1.491381  0.769090 -0.038032
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-22  1.210597 -1.308159 -0.237740  0.653696

In [15]:
df.sort_index(axis=0,ascending=True)

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-24 -0.299926  1.491381  0.769090 -0.038032
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548
2024-07-27  0.340274  0.330263  0.190045  0.786122

In [16]:
df.sort_values(by="B")

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548
2024-07-27  0.340274  0.330263  0.190045  0.786122
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-24 -0.299926  1.491381  0.769090 -0.038032

#### Sort_by_colum

In [17]:
df["D"]

2024-07-22    0.653696
2024-07-23   -0.065054
2024-07-24   -0.038032
2024-07-25    0.852480
2024-07-26   -0.065548
2024-07-27    0.786122
Freq: D, Name: D, dtype: float64

#### check_spacific_value

In [18]:
df[0:2]

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-23  0.901464  0.458088  0.616303 -0.065054

In [19]:
#row wise
df.loc[date[2]]

A   -0.299926
B    1.491381
C    0.769090
D   -0.038032
Name: 2024-07-24 00:00:00, dtype: float64

In [20]:
#colums wise
df.loc[:,["A","B"]]

                   A         B
2024-07-22  1.210597 -1.308159
2024-07-23  0.901464  0.458088
2024-07-24 -0.299926  1.491381
2024-07-25 -0.067373  1.361541
2024-07-26 -0.696734 -1.303182
2024-07-27  0.340274  0.330263

In [21]:
df.loc["20240722":"20240725",["A","B"]]

                   A         B
2024-07-22  1.210597 -1.308159
2024-07-23  0.901464  0.458088
2024-07-24 -0.299926  1.491381
2024-07-25 -0.067373  1.361541

In [22]:
df.loc[["20240722","20240725"],["A","B"]]

                   A         B
2024-07-22  1.210597 -1.308159
2024-07-25 -0.067373  1.361541

In [23]:
df.loc["20240722",["A","B","C","D"]]

A    1.210597
B   -1.308159
C   -0.237740
D    0.653696
Name: 2024-07-22 00:00:00, dtype: float64

In [24]:
df.loc[date[0],"A"]

1.2105973110209238

In [25]:
df.loc[date[5],"A"]

0.34027447699781155

In [26]:
df.iloc[3]

A   -0.067373
B    1.361541
C    0.551851
D    0.852480
Name: 2024-07-25 00:00:00, dtype: float64

In [27]:
df.iloc[3:6]

                   A         B         C         D
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548
2024-07-27  0.340274  0.330263  0.190045  0.786122

In [28]:
df.iloc[0:5,0:5]

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-24 -0.299926  1.491381  0.769090 -0.038032
2024-07-25 -0.067373  1.361541  0.551851  0.852480
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548

In [29]:
df[df["A"]>0]

                   A         B         C         D
2024-07-22  1.210597 -1.308159 -0.237740  0.653696
2024-07-23  0.901464  0.458088  0.616303 -0.065054
2024-07-27  0.340274  0.330263  0.190045  0.786122

### Add a colum

In [30]:
df2=df.copy()

In [31]:
df2["Burhan"]=["Ali","Umar","Azam","Are","Burhan","Pakistan"]
df2

                   A         B         C         D    Burhan
2024-07-22  1.210597 -1.308159 -0.237740  0.653696       Ali
2024-07-23  0.901464  0.458088  0.616303 -0.065054      Umar
2024-07-24 -0.299926  1.491381  0.769090 -0.038032      Azam
2024-07-25 -0.067373  1.361541  0.551851  0.852480       Are
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548    Burhan
2024-07-27  0.340274  0.330263  0.190045  0.786122  Pakistan

In [32]:
df2["mean"]=[1.1,1.2,1.3,1.4,1.5,1.6]
df2

                   A         B         C         D    Burhan  mean
2024-07-22  1.210597 -1.308159 -0.237740  0.653696       Ali   1.1
2024-07-23  0.901464  0.458088  0.616303 -0.065054      Umar   1.2
2024-07-24 -0.299926  1.491381  0.769090 -0.038032      Azam   1.3
2024-07-25 -0.067373  1.361541  0.551851  0.852480       Are   1.4
2024-07-26 -0.696734 -1.303182  2.057716 -0.065548    Burhan   1.5
2024-07-27  0.340274  0.330263  0.190045  0.786122  Pakistan   1.6

In [33]:
df2=df.iloc[:,3:]
df2

                   D
2024-07-22  0.653696
2024-07-23 -0.065054
2024-07-24 -0.038032
2024-07-25  0.852480
2024-07-26 -0.065548
2024-07-27  0.786122